body {
  background: linear-gradient(45deg, red, blue);
}

h1 {
  color: white;
  font-family: Dosis, sans-serif;
}

.search-atts {
  font-size: 30px;
  color: white;
}

.search-bar {
  border-radius: 10px;
}
